langchain-core
langchain
langchain-chroma
langchain-community
langchain-text-splitters
langchain-ollama
python-dotenv
PyPDF2
uuid
cryptography>=3.1
sentence-transformers
faiss-cpu
rank-bm25
numpy
scikit-learn
langchain_huggingface